<div class="container-fluid">
  <div class="mx-auto" style="padding: 130px;">
  <div class="row">
    <div class="col-lg-6 px-3">
     <div>
      <img class="img-fluid" style="width: 150px;" src="../assets/logo.png">
     </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 class="text-success">Reen Bank</h3>
      <h1 style="font-size: 80px;">Experience<br>hassle-free banking</h1>
      <br>
      <p class="fs-5 text-wrap" style="width: 80%;">Experience simple, secure and stress-free banking. Say goodbye long queues and complex procedures and hello to hassle-free with Reen Bank</p>
      <br>
      <br>
      <br>
      <br>
      <div>
        <a href="#">
        <img style="width: 30px;" src="../assets/facebook 2.png" alt="">
        </a>

        <a href="#">
        <img style="padding-left: 8px; width: 40px;" src="../assets/instagram 2.png" alt="">
        </a>
    
        <a href="#">
        <img style="padding-left: 8px; width: 40px;" src="../assets/twitter 2.png" alt="">
        </a>
  
    </div>
    </div>

    <div class="col-lg-6 px-3">
      <app-form></app-form>
    </div>
  </div>
  </div>
</div>  